@import '../variables/colors';

.breadcrumb a {
	&.active {
		pointer-events: none;
		color: $gray-darkest;
	}

	&:not(.active)::after {
		content: '/';
		padding: 0 0.5rem;
		pointer-events: none;
	}
}
