.index-text-section {
	display: flex;
	justify-content: center;

	& p {
		width: 60%;
	}
}

.index-categories-section {
	display: flex;
	justify-content: center;
}

.categories-list {
	list-style: none;
	padding-left: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	& li {
		padding: 0.5rem 2rem;
		max-width: 180px;
	}
}
