@import '../../variables/colors';

.technical-sheet {
	background-color: $dark-bg;
	border-bottom: 1px solid $main-border;
	box-shadow: 0 0 4px 0 $black;
	border-radius: 10px;
	padding: 0 1rem;

	& ul {
		list-style: none;
		padding-left: 0;

		& ul {
			padding-left: 1rem;
		}
	}

	& li {
		padding: 0.2rem 0;
	}

	& > ul > li > p {
		border-bottom: 1px solid black;
		font-weight: 700;
		width: 100%;
	}
}

/*Versión de escritorio*/
@media screen and (min-width: 1024px) {
	.technical-sheet {
		box-sizing: border-box;
		flex: 1 0 30%;
		padding: 0 2rem;
	}
}

.book {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&-cover {
		text-align: center;

		&-container {
			display: flex;
			justify-content: center;
		}
	}

	&-info p {
		line-height: 1.8;
		margin: 0.5rem 0;
		width: 100%;
	}
}

/*Versión de escritorio*/
@media screen and (min-width: 1024px) {
	.book {
		display: flex;
		flex-wrap: wrap;

		& h2 {
			flex: 0 0 100%;
			text-align: left;
		}

		&-info {
			box-sizing: border-box;
			flex: 1 0 70%;
			padding-left: 4rem;

			& p {
				text-align: justify;
			}
		}
	}
}

.author-info {
	display: block;

	& img {
		float: left;
		margin-right: 2rem;
		border-radius: 50%;
		max-width: 200px;
		-webkit-shape-outside: circle();
		shape-outside: circle();
	}
}
